%li{:id => note.id, :class => "note #{note.color}"}
  %p
    =note.text
  %span.left
    =link_to 'Edit', edit_stack_note_path(note.stack, note), :remote => true
  %span.right
    = link_to 'Destroy', [note.stack, note], :confirm => 'Are you sure?', :method => :delete