.new_sticky.grid_12
  %div#note-form{title: "Note", style: "display:none"}
    =#%div#note-form{title: "Note"}
  
  = link_to 'New Sticky', new_note_path, :class => "new_note_button", :remote => true
%notes
  =render @notes