%li{:id => stack.id, :class => 'grid_12 alpha omega'}
  %h2
    =link_to stack.name, stack
    =link_to 'New Sticky', new_stack_note_path(stack), :class => "button", :remote => true
  %ol.notes
    =render stack.notes