.new_sticky.grid_3
  #note-form{title: "Note", style: "display:none"}
    =#%div#note-form{title: "Note"}

.new_stack.grid_3
  = link_to 'New Stack', new_stack_path, :class => "button"

.clear
  
#stacks.grid_12.alpha.omega
  %ol.grid_12.alpha.omega
    =render @stacks