.new_sticky.grid_3
  #note-form{title: "Note", style: "display:none"}
.ajax_form.grid_3
  #ajax-form{title: "Stack", style: "display:none"}
    =#%div#note-form{title: "Note"}
.clear
  
#stacks.grid_12.alpha.omega
  %ol.grid_12.alpha.omega
    =render @stacks