@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/gradient";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "fancy-buttons";

// A List Apart nice colours
$alp-red: #ee3e64;
$alp-blue: #44accf;
$alp-green: #b7d84b;
$alp-yellow: #ebde52;
$alp-darker-orange: #f95b34;
$alp-orange: #fa8366;
$alp-pink: #f36283;